.av
    width: 30px
    height: 30px

.my-av
    margin: 0
    padding: 0
    margin-top: -8px
    margin-bottom: -12px

a.rate
    display: inline-block
    width: 28px
    height: 32px
    text-decoration: none
    text-align: center

a.rate_plus
    color: #1a1a1a

a.rate_minus
    color: #1a1a1a

a.rate_plus:hover, a.rate_plus.active
    color: #5BB75B

a.rate_minus:hover, a.rate_minus.active
    color: #DA4F49

#main
    display: none

#loader
    text-align: center
    margin: 50px

#loader img
    margin-top: 50px

#page
    margin-top: 80px

.bottomed
    margin-bottom: 30px

.list_elem
    font-size: 20px

ol#list
    font-size: 20px

ol#list li
    line-height: 30px

.centroider
    padding-left: 70px
