<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Uglyrater!</title>
    <style>
        .av {
            width: 20px;
            height: 20px;
        }
        a.rate_plus.active {
            background: #00ff00;
        }
        a.rate_minus.active {
            background: #ff0000;
        }
    </style>
    <script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
    <script type="text/javascript" src='media/js/socket.io.js'></script>
    <script type="text/javascript" src='media/js/jquery.tmpl.min.js'></script>
    <script type="text/javascript" src='media/js/main.js'></script>
    <script id="profile_tpl" type="text/x-jquery-tmpl">
        <li id='${profile.uid}'>
            ${profile.first_name} ${profile.last_name}
            <a href="#" class='${plus_cls}'>+</a>
            ${profile.rate}
            <a href="#" class='${minus_cls}'>-</a>
        </li>
    </script>
</head>
<body>
    <h1>Uglyrater!</h1>
    <input type="text" id='url' placeholder='write url'> <button type="button" id='add'>Add</button>
    <ol id='list'>
        <li>Loading!</li>
    </ol>
</body>
</html>