{% extends "base.html" %}

{% block title %}О проекте / Uglyrater{% end %}

{% block about-menu %}active{% end %}

{% block content %}
%div{:class => 'hero-unit'}
    %h2 UglyRater
    %p Интерактивное голосование с незаполненым описанием.
{% end %}