!!! 5
%html
    %head
        %title {% block title %}Uglyrater{% end %}
        %link{:rel => "stylesheet", :href => "/media/bootstrap/css/bootstrap.min.css", :type => "text/css"}
        %link{:rel => "stylesheet", :href => "/media/bootstrap/css/bootstrap-responsive.min.css", :type => "text/css"}
        %link{:rel => "stylesheet", :href => "/media/css/jquery.gritter.css", :type => "text/css"}
        %link{:rel => "stylesheet", :href => "/media/css/base.css", :type => "text/css"}
        %script{:type => "text/javascript",
            :src => "http://vkontakte.ru/js/api/openapi.js"}
        %script{:type => "text/javascript"}
            VK.init({apiId: {{VK_ID}}});
        %script{:type => "text/javascript",
            :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
        %script{:type => "text/javascript",
            :src => "/media/js/socket.io.js"}
        %script{:type => "text/javascript",
            :src => "/media/js/jquery.tmpl.min.js"}
        %script{:type => "text/javascript",
            :src => "/media/js/jquery.cookie.js"}
        %script{:type => "text/javascript",
            :src => "/media/js/jquery.gritter.min.js"}
        %script{:type => "text/javascript",
            :src => "/media/js/main.js"}
        %script{:type => "text/javascript",
            :src => "/media/bootstrap/js/bootstrap.min.js"}
        %script#profile_tpl{:type => "text/x-jquery-tmpl"}
            %li{:id => "${profile.uid}"}
                %div{:class => 'list_elem'}
                    %img{:class => 'av', :src => '${profile.photo}'}
                    ${profile.first_name} ${profile.last_name}
                    %a{:href => "#", :class => '${plus_cls}'} +
                    ${profile.rate}
                    %a{:href => "#", :class => '${minus_cls}'} -
        %script#logout_tpl{:type => "text/x-jquery-tmpl"}
            %li#login_panel{:class => "dropdown"}
                %a{:href => '#', :class => "dropdown-toggle", "data-toggle" => "dropdown"}
                    %img{:class => 'av my-av', :src => '${base.photo}'}
                    ${base.first_name} ${base.last_name}
                    %b{:class => "caret"}
                %ul{:class => 'dropdown-menu'}
                    %li
                        %a{:href => '/logout/'} Выйти
        %script#login_tpl{:type => "text/x-jquery-tmpl"}
            %li#login_panel
                %a{:href => '/login/'} Авторизация
    %body
        %div{:class => "navbar navbar-fixed-top"}
            %div{:class => 'navbar-inner'}
                %div{:class => 'container'}
                    %a{:class => "btn btn-navbar", 'data-toggle' => "collapse", 'data-target' => ".nav-collapse"}
                        %span{:class => 'icon-bar'}
                        %span{:class => 'icon-bar'}
                        %span{:class => 'icon-bar'}
                    %a{:class => 'brand', :href => '/'}
                        UglyRater
                    %div{:class => 'nav-collapse'}
                        %ul{:class => 'nav'}
                            %li{:class => '{% block rate-menu %}{% end %}'}
                                %a{:href => '/'}
                                    Рейтинг
                            %li{:class => '{% block ext-menu %}{% end %}'}
                                %a{:href => "/ext/"}
                                    Расширения
                            %li{:class => '{% block about-menu %}{% end %}'}
                                %a{:href => "/about/"}
                                    О проекте
                        %ul{:class => 'nav pull-right'}
                            %li{:class => 'divider-vertical'}
                            %li#login_panel
        #page{:class => 'container'}
            {% block content %}{% end %}

