{% extends "base.html" %}

{% block ext-menu %}active{% end %}

{% block title %}Расширения для браузеров / Uglyrater{% end %}

{% block content %}
%div{:class => 'hero-unit'}
    %h2 Расширения для браузеров
    %p К сожалению расширения пока не готовы.
{% end %}