{% extends "base.html" %}

{% block rate-menu %}active{% end %}

{% block content %}
#main
    %div{:class => 'hero-unit row'}
        %div{:class => 'span5'}
            %h2{:class => 'bottomed'} Добавить пользователя в рейтинг
            %div{:class => 'input-prepend bottomed'}
                %span{:class => 'add-on'}
                    Страница ВКонтакте:
                %input#url{:type => "text", :placeholder => 'http://vk.com/.....', :class => 'input-medium span3'}
            %a#add{:class=> 'btn-primary btn-large', :href => '#'} Добавить!
        %div{:class => 'span5'}
            %p После этого пользователь автомтически появится в рейтинге и вы сможете проголосовать.
            %p Если пользователь уже существует - вы увидите его в отфильтрованом списке.
    %div{:class => 'row centroider'}
        %div{:class => 'span5'}
            %ol#list
        #static{:class => 'span5 well'}
            {% module Template("static_news.html") %}
#loader
    %p Подождите, идёт загрузка.
    %img{:src => 'media/images/ajax-loader.gif'}
{% end %}