%h4 02.03.12
%h2 Новый UglyRater
%p Встречайте новый, модный и стильный UglyRater!
%p Теперь на twitter bootstrap!
%br
%br
%h4 03.01.12
%h2 Открытие
%p
    Проект запустился, подробнее на
    %a{:href => 'http://habrahabr.ru/blogs/webdev/135650/'}хабрахабре
